.hidden-ticket{
    display: none;
}
.ticket {
    justify-content: center;
    border: 2px solid rgb(183, 180, 206);
    border-radius: 35px;
    margin: 5px 40px 20px 40px;
    background-color: white;
    padding: 10px;
    box-shadow: 8px 10px #888888;
}
.label{
    margin: 5px; 
    border:  1px solid black; 
    box-shadow: 0 5px #666; 
    border-radius: 4px;
    background-color: #b2ddd5;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.6fr 1.8fr 0.6fr;
  grid-template-rows: 0.6fr 1fr 1.4fr 0.6fr;
  gap: 1px 1px;
  grid-template-areas: "ticketDate ticketTitle ticketTitle ticketTitle ticketTitle hideTicketButton" "ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent" "ticketContent ticketContent ticketContent ticketContent ticketContent ticketContent" "ticketEmail ticketEmail ticketLables ticketLables isDoneText doneButton";
}

.ticketEmail { grid-area: ticketEmail; }

.ticketDate { grid-area: ticketDate; }

.ticketLables { grid-area: ticketLables; }

.isDoneText { 
    
    grid-area: isDoneText; 
}

.doneButton { grid-area: doneButton; }

.ticketTitle { grid-area: ticketTitle; }

.hideTicketButton { grid-area: hideTicketButton; }

.ticketContent { grid-area: ticketContent; }